<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.yyn.topicsystem.mapper.StudentTopicMapper">

    <resultMap id="dtoMap" type="com.system.yyn.topicsystem.entity.vo.StudentTopicVO">
        <result property="topicId" column="topic_id"/>
        <result property="topicTitle" column="topic_title"/>
        <result property="teacherName" column="teacher_id"/>
        <result property="topicPeriod" column="topic_period"/>
    </resultMap>


    <insert id="insert">
        insert into student_topic (student_id,topic_id,status,reason) values (#{studentId},#{topicId},#{status},#{reason});
    </insert>

    <update id="update" parameterType="com.system.yyn.topicsystem.entity.po.StudentTopic">
        update student_topic set
        status = #{status},
        reason = #{reason}
        where student_id = #{studentId} and topic_id =#{topicId}
    </update>

    <select id="getList" resultMap="dtoMap" parameterType="com.system.yyn.topicsystem.entity.dto.StudentGetTopicsDto">
        select topic.topic_id,topic_title,topic_period,teacher_id from topic left join teacher_topic on topic.topic_id = teacher_topic.topic_id
        where topic_status = 1 and topic_period = #{period}
    </select>

    <select id="get" resultType="com.system.yyn.topicsystem.entity.po.StudentTopic">
        select * from student_topic where student_id = #{studentId} and topic_id =#{topicId}
    </select>
</mapper>