<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.yyn.topicsystem.mapper.TopicMapper">

    <insert id="insert">
        insert into topic (topic_title,topic_content,topic_status) values (#{topicTitle},#{topicContent},#{topicStatus})
    </insert>

    <select id="getId" resultType="java.lang.Long">
        SELECT LAST_INSERT_ID()
    </select>
</mapper>