<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.yyn.topicsystem.mapper.TopicMapper">

    <resultMap id="topicListMap" type="com.system.yyn.topicsystem.entity.vo.TopicVO">
        <result property="topicTitle" column="topic_title"/>
        <result property="topicPeriod" column="topic_period"/>
        <result property="teacherName" column="username"/>
    </resultMap>

    <resultMap id="depMap" type="com.system.yyn.topicsystem.entity.vo.DepTopicVO">
        <result property="topicId" column="topic_id"/>
        <result property="topicTitle" column="topic_title"/>
        <result property="period" column="topic_period"/>
        <result property="teacherName" column="teacher_id"/>
        <result property="status" column="topic_status"/>
    </resultMap>

    <insert id="insert">
        insert into topic (topic_title,topic_content,topic_period,topic_status)
        values (#{topicTitle},#{topicContent},#{topicPeriod},#{status})
    </insert>

    <update id="update" parameterType="com.system.yyn.topicsystem.entity.po.Topic">
        update topic set
        topic_title = #{topicTitle},
        topic_content = #{topicContent}
        where topic_id = #{topicId}
    </update>

    <update id="updateTopicCheck">
        update topic set
        topic_status = #{status},
        comment = #{comment}
        where topic_id = #{topicId}
    </update>

    <delete id="delete">
        delete from topic where topic_id = #{topicId}
    </delete>

    <select id="getId" resultType="java.lang.Long">
        SELECT LAST_INSERT_ID()
    </select>

    <select id="getTopic" resultType="com.system.yyn.topicsystem.entity.po.Topic">
        select * from topic where topic_id = #{topicId}
    </select>

    <select id="getTopicList" resultMap="topicListMap" parameterType="com.system.yyn.topicsystem.entity.dto.GetTopicListDto">

    </select>

    <select id="getDetTopics" resultMap="depMap">
        select tt.topic_id,tt.teacher_id,topic_title,topic_period,topic_status from teacher_topic tt,topic t
        where tt.topic_id = t.topic_id
        <if test="status != null and status != ''">
            and t.topic_status = #{status}
        </if>
        <if test="cellphone != null and cellphone != ''">
            and t.teacher_id = #{cellphone}
        </if>
        order by t.topic_id
    </select>
</mapper>